apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: vating-backend-deployment
    environment: production
  namespace: voting-app
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 1
  selector:
    matchLabels:
      app: voting-backend-pod 
      environment: production
  template:
    metadata:
      labels:
        app: voting-backend-pod
        environment: production
    spec:
      containers:
        - name: voting-backend-container
          image: mahinraza556/voting-app:backend
          imagePullPolicy: Always
          env:
            - name: MONGO_CONN_STR
              value: mongodb://mongo-0.db-service,mongo-1.db-service,mongo-2.db-service:27017/langdb?replicaSet=rs0
            - name: MONGO_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mongodb-secret
                  key: username
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongodb-secret
                  key: password
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /ok
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 3
            successThreshold: 2
          livenessProbe:
            httpGet:
              path: /ok
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 3
            successThreshold: 2