apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-deployment
  labels:
    app: voting-frontend-deployment
    environment: production
  namespace: voting-app
spec:
  replicas: 3
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 25%
      maxSurge: 1
  selector:
    matchLabels:
      app: voting-frontend-pod
      environment: production
  template:
    metadata:
      labels:
        app: voting-frontend-pod
        environment: production
    spec:
      containers:
        - name: voting-frontend-container
          image: mahinraza556/voting-app:frontend
          imagePullPolicy: Always
          env:
            - name: REACT_APP_APIHOSTPORT
              value: <BACKEND_LB_DNS>
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: "256Mi"
              cpu: "250m"
            limits:
              memory: "512Mi"
              cpu: "500m"
          readinessProbe:
            httpGet:
              path: /ok
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 3
            successThreshold: 1
          livenessProbe:
            httpGet:
              path: /ok
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 5
            timeoutSeconds: 5
            failureThreshold: 3
            successThreshold: 1


